<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     @using Dojo_Survey.Models
    @model User
    <h2>Submitted info</h2>
    <p>Name : @ViewBag.User.name</p>
    <p>Location : @ViewBag.User.location</p>
    <p>Language : @ViewBag.User.language</p>
    <p>Comments : @ViewBag.User.comments</p>
    <form action="process2" method="post">
        <div><button value="submit" class="btn">Go Back</button></div>
    </form>
</body>
</html>